#sex-selector{
    background: #363636;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#sex-selector:hover{
    background-color: #262626;
}
#sex-selector.women.active{
    background: linear-gradient(135deg,#9333ea,#db2777);
    border: 1px solid #d74bad;
}
#sex-selector.men.active{
    background: linear-gradient(135deg,#4f46e5,#2563eb);
    border: 1px solid #4b8ed7;
}
#sex-selector img{
    height: 2rem;
    width: 2rem;
}
.preset-btn{
    border-radius: 50% !important;
    aspect-ratio: 1;
}
.arrowLeft{
    border-radius: 50% !important;
    aspect-ratio: 1;
}
.arrowRight{
    border-radius: 50% !important;
    aspect-ratio: 1;
}

.color-preview{
    height: 2rem;
    width: 2rem;
    border: 1px solid white;
    border-radius: 50%;
}

/* Container for the eye */
.eye-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: relative;
    rotate: 35deg;
  }
  
  /* Outer eye (sclera - white part) */
  .eye {
    background-color: #ffffff;
    border-left: 4px solid #edc1f1;
    border-top: 4px solid #edc1f1;
    border-radius: 50% 0 50% 0;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  
  /* Iris (colored part) */
  .iris {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  }
  
  /* Pupil (black center) */
  .pupil {
    background-color: #000;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }