#sex-selector{
    background-color: #363636;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#sex-selector:hover{
    background-color: #262626;
}

#sex-selector.active{
    background-color: #262626;
    border: #4b8ed7;
}
#sex-selector img{
    height: 2rem;
    width: 2rem;
}